body {
  background: #222222;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#header {
  margin-top: 5vh;
  padding: 5vh 0;
  margin-bottom: 40vh;
}

@media screen and (min-width: 600px) {
  #header {
    padding: 0;
  }
}

#about, #projects {
  margin: 20% 0%;
  padding: 20% 0%;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 600px) {
  #about, #projects {
    margin: 5vh 0;
    padding: 5%;
  }
}

#contact {
  margin-top: 20%;
  padding-bottom: 10%;
  padding-top: 5%;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 600px) {
  #contact {
    margin-top: 10vh;
    padding: 5%;
  }
}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 10%;
  height: 15%;
  z-index: 100;
  font-family: 'Quicksand', sans-serif;
}

.navbar-close {
  z-index: 101;
  position: absolute;
  top: 0vh;
  left: 0vw;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}

.navbar-close path {
  stroke: rgba(218, 44, 44, 0.808);
  stroke-width: 5px;
}

.navbar-close-anim {
  left: 0vw;
}

.navbar-container {
  text-align: start;
  position: relative;
  top: 0;
  left: -30vw;
  background-color: #1b1b1b;
  opacity: 0.7;
  height: 100%;
  width: 27vw;
  padding: 5%;
  padding-top: 3vh;
  -webkit-transition: all 2s;
  transition: all 2s;
  border: rgba(218, 44, 44, 0.808) 4px solid;
  border-radius: 2%;
}

@media screen and (min-width: 560px) {
  .navbar-container {
    width: 15vw;
  }
}

@media screen and (min-width: 900px) {
  .navbar-container {
    width: 10vw;
  }
}

.navbar-container ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navbar-container ul li {
  margin: 5% 0%;
  list-style-type: none;
  padding-bottom: 10%;
  border-bottom: 1px solid #fcfcfc;
}

.navbar-move {
  left: 0;
}

.nav-link {
  opacity: 0.5;
  color: #fa5a5a;
  text-decoration: none;
  padding: 2.5%;
  font-size: 150%;
}

.nav-link:hover, .nav-link :active {
  opacity: 1;
}

.name {
  text-align: center;
  color: #fcfcfc;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 5px;
  text-shadow: 4px 4px 4px #808080;
  font-size: 10vw;
  width: 60%;
  margin: 10% 20%;
  margin-bottom: 20%;
}

.name .my-name {
  margin-bottom: 0;
}

.name .first {
  display: block;
  margin-right: 20%;
}

@media screen and (min-width: 600px) {
  .name .first {
    margin-right: 15vw;
  }
}

.name .last {
  margin-left: 20%;
  display: block;
}

@media screen and (min-width: 600px) {
  .name .last {
    margin-left: 15vw;
  }
}

@media screen and (min-width: 600px) {
  .name {
    font-size: 5.5vw;
    margin-bottom: 10%;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container {
  margin: 0% 3%;
  width: 25%;
  height: 20%;
}

@media screen and (min-width: 600px) {
  .button-container {
    margin: 0 5vw;
    width: 15vw;
  }
}

.header-add {
  font-size: 4.5vw;
  -webkit-text-stroke-width: 0px;
}

@media screen and (min-width: 600px) {
  .header-add {
    font-size: 2.5vw;
  }
}

.nav-button {
  width: 100%;
  border-color: #000;
  outline: none;
  text-align: center;
  background-color: rgba(218, 44, 44, 0.808);
  color: #fcfcfc;
  padding: 20% 0%;
  font-size: 3vw;
  -webkit-box-shadow: 4px 4px 4px #808080;
          box-shadow: 4px 4px 4px #808080;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: color 4s, background-color 4s, opacity 4s, -webkit-transform 2s, -webkit-box-shadow 4s;
  transition: color 4s, background-color 4s, opacity 4s, -webkit-transform 2s, -webkit-box-shadow 4s;
  transition: color 4s, background-color 4s, transform 2s, box-shadow 4s, opacity 4s;
  transition: color 4s, background-color 4s, transform 2s, box-shadow 4s, opacity 4s, -webkit-transform 2s, -webkit-box-shadow 4s;
}

@media screen and (min-width: 600px) {
  .nav-button {
    padding: 3vh 0;
    width: 90%;
  }
}

.hovered {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-box-shadow: 5px 5px 30px 5px #A0AFB7;
          box-shadow: 5px 5px 30px 5px #A0AFB7;
}

.small {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 50%;
}

.about {
  border: 3px solid black;
  border-radius: 2.5%;
  margin-left: 10%;
  width: 80%;
  background-color: #e9e8e8;
  -webkit-box-shadow: 5px 5px 10px #9f1616;
          box-shadow: 5px 5px 10px #9f1616;
}

@media screen and (min-width: 600px) {
  .about {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.title {
  color: black;
  padding-bottom: 5%;
  border-bottom: #423f3f94 solid 2px;
  font-size: 35px;
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 60px;
  }
}

.description {
  text-align: start;
  margin: 10% 0%;
  font-size: 100%;
}

@media screen and (min-width: 1000px) {
  .description {
    margin: 5vh 0;
    font-size: 150%;
  }
}

.skill {
  font-weight: bold;
  color: #b31f1f;
}

.skills {
  text-align: start;
  border-top: solid #423f3f94 2px;
}

.skills h4 {
  margin: 10% 0%;
}

@media screen and (min-width: 1000px) {
  .skills h4 {
    font-size: 35px;
  }
}

@media screen and (min-width: 600px) {
  .skills h4 {
    margin: 5vh 0;
  }
}

.skills h3 {
  text-align: center;
  margin: 10% 0%;
  font-size: 27px;
}

@media screen and (min-width: 1000px) {
  .skills h3 {
    font-size: 45px;
  }
}

@media screen and (min-width: 600px) {
  .skills h3 {
    margin: 3vh 0;
  }
}

.skills div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  margin-bottom: 10%;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .skills div div {
    width: 25%;
    margin-bottom: 3vh;
  }
}

.skills div div span {
  margin-top: 10px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  .projects {
    margin: 10% 10%;
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects .projects-title {
  margin: 10% 5%;
  padding: 5%;
  border: 3px solid black;
  border-radius: 2.5%;
  background-color: #e9e8e8;
  font-size: 35px;
  width: 80%;
  -webkit-box-shadow: 5px 5px 10px #9f1616;
          box-shadow: 5px 5px 10px #9f1616;
}

@media screen and (min-width: 600px) {
  .projects .projects-title {
    margin: 3vh 5%;
    width: 100%;
    padding: 2vh 0;
  }
}

@media screen and (min-width: 1000px) {
  .projects .projects-title {
    font-size: 60px;
  }
}

.projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (min-width: 600px) {
  .projects .project-container {
    width: 40%;
    margin: 2% 5%;
  }
}

.projects .project-container:hover {
  -webkit-box-shadow: 4px 4px 10px 5px #9f1616;
          box-shadow: 4px 4px 10px 5px #9f1616;
}

.project-information {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fcfcfc;
  bottom: 0%;
  left: 0%;
  text-align: center;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  width: 80%;
}

.project-information .project-title {
  border-bottom: 2px solid red;
}

.project-information a {
  margin: 0px 20px;
  color: #fa5a5a;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  padding: 2.5%;
}

.project-information a:active, .project-information a :hover {
  color: #fa5a5a;
}

@media screen and (min-width: 1500px) {
  .project-information {
    height: 30%;
  }
}

.toggle-project .project-img {
  opacity: 0.5;
}

.toggle-project .project-information {
  opacity: 1;
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

.project-img {
  width: 100%;
  height: 250px;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

@media screen and (min-width: 600px) {
  .project-img {
    height: 30vh;
  }
}

@media screen and (min-width: 1500px) {
  .project-img {
    height: 50vh;
  }
}

.contact {
  border: 3px solid black;
  border-radius: 2.5%;
  -webkit-box-shadow: 5px 5px 10px #9f1616;
          box-shadow: 5px 5px 10px #9f1616;
  background-color: #4e4d4d;
  margin: 10% 5%;
}

@media screen and (min-width: 600px) {
  .contact {
    margin: 5vh 20%;
  }
}

.contact-input {
  margin: 5% 20%;
  width: 60%;
}

@media screen and (min-width: 600px) {
  .contact-input {
    line-height: 3vh;
    font-size: 2vh;
    margin: 5vh 20%;
  }
}

.contact-title {
  margin: 5% 5%;
  padding: 5%;
  border: #000 solid 2px;
  background-color: #e9e8e8;
  font-size: 35px;
  width: 80%;
}

@media screen and (min-width: 600px) {
  .contact-title {
    padding: 2vh 5%;
    margin-top: 4vh;
  }
}

@media screen and (min-width: 1000px) {
  .contact-title {
    font-size: 60px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .contact-container:nth-child(1) {
    width: 50%;
  }
  .contact-container:nth-child(2) {
    width: 50%;
  }
}

.contact-label {
  margin-bottom: 10%;
  color: #fcfcfc;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .contact-label {
    margin-bottom: 5vh;
  }
}

.contact-textarea {
  margin: 0% 5%;
}

@media screen and (min-width: 600px) {
  .contact-textarea {
    margin: 0% 20%;
    line-height: 3vh;
    font-size: 2vh;
  }
}

.contact-submit {
  background-color: rgba(218, 44, 44, 0.808);
  border: #000 solid 2px;
  font-weight: bold;
  font-size: 150%;
  width: 50%;
  margin: 2vh 25%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact-submit:hover, .contact-submit :active {
  background-color: #006400;
}

@media screen and (min-width: 600px) {
  .contact-submit {
    margin-left: 35%;
    width: 30%;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }
}

.divider {
  width: 100%;
  height: 1vh;
  -webkit-animation: divider 2s infinite alternate ease;
          animation: divider 2s infinite alternate ease;
}

@-webkit-keyframes divider {
  0% {
    background-color: #800000;
  }
  100% {
    background-color: #BF0000;
  }
}

@keyframes divider {
  0% {
    background-color: #800000;
  }
  100% {
    background-color: #BF0000;
  }
}
/*# sourceMappingURL=App.css.map */